{% extends 'nav.html' %}

{% block content %}
{% load static %}



<div class="container mt-5 pt-5">
    <div class="row search-card-result">
                

                    
        <div class="col-md-3">
           
        <a href="">
            <img class="img-fluid" src="{{package_obj.package_images.url}}" alt="Card image cap">
        
        </a></div>
   
        <div class="col-md-5">
            <h5>{{package_obj.package_name}}</h5>
            
            <p>
                {{package_obj.Package_description}}
            </p>
            
            <p>
                <b>{{package_obj.package_amenity_name}}</b>
            </p>
            
           
            
        </div>
        <div class="col-md-2 border-left text-center more-offers">
            
            
            <p>RS : {{package_obj.package_price}}/Person</p>
            
            <p>Days : {{package_obj.package_days}}</p>
        </div>
        <div class="col-md-2 border-left text-center more-offers">
           
           
        </div>
        
    </div>
    
    
    </div>
    {% if request.user.is_authenticated %}
    <div class="filter-card">
        <h5 class="text-center"><b>Book Package</b></h5>
        
        <form method="post">
            {% csrf_token %}
            <div class="row form-group">
                <div class="col-md-12">
                    <label for="mintopay">Check in</label>
                    <p>
                        <input type="date" name="checkin" id="checkin" class="form-control">
                    </p>
                </div>
                <div class="col-md-12">
                    <label for="maxtopay">Check out</label>
                    <p>
                        <input type="date" name="checkout" id="checkout" class="form-control">
                    </p>
                </div>
            </div>
           
            <div class="row form-group">
                <div class="col-md-12">
                    <input type="submit" class="btn btn-primary btn-block" value="Book">
                </div>
            </div>
        </form>
    </div>
    {% else %}
    
    <a href="{% url 'signin' %}" class="btn btn-primary mt-5 ">Login</a>{% endif %}

    
</div>


</div></div>

{% endblock %}
