<h1>this is signup page</h1>
{% extends 'nav2.html' %}

{% block content %}
{% load static %}




  <!-- <form action="" method="POST">
    {% csrf_token %}
    <input type="text" name="username" id="username" placeholder="enter your username" class="form-control form-control-lg"><br>
    <input type="text" name="firstname" id="firstname" placeholder="enter your firstname" class="form-control form-control-lg"><br>
    <input type="text" name="lastname" id="lastname" placeholder="enter your lastname" class="form-control form-control-lg"><br>
    <input type="email" name="email" id="email" placeholder="enter your email" class="form-control form-control-lg"><br>
    <input type="password" name="password" id="password" placeholder="enter your pssword" class="form-control form-control-lg"> <br>
    <input type="password2" name="password2" id="password2" placeholder=" confirm your password " class="form-control form-control-lg"><br>
    <button class="btn btn-success form-control form-control-sm" type="submit">  signup</button>

  </form> -->

  <section class="vh-100 bg-image"
  style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">Create an account</h2>

              <form action="" method="POST">
                {% csrf_token %}
                <input type="text" name="username" id="username" placeholder="enter your username" class="form-control form-control-lg"><br>
                <input type="text" name="firstname" id="firstname" placeholder="enter your firstname" class="form-control form-control-lg"><br>
                <input type="text" name="lastname" id="lastname" placeholder="enter your lastname" class="form-control form-control-lg"><br>
                <input type="email" name="email" id="email" placeholder="enter your email" class="form-control form-control-lg"><br>
                <input type="password" name="password" id="password" placeholder="enter your pssword" class="form-control form-control-lg"> <br>
                <input type="password2" name="password2" id="password2" placeholder=" confirm your password " class="form-control form-control-lg"><br>
                <button class="btn btn-success form-control form-control-sm" type="submit">  signup</button>
            
              </form>
                <p class="text-center text-muted mt-5 mb-0">Have already an account? <a href="signin"
                    class="fw-bold text-body"><u>Login here</u></a></p>

              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}